body{
    background-color:rgba(105, 144, 103, 0.707);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

header h1{
    font-size: 25px;
}

/**Hjemknapp på produktsiden*/
#flytende-hjemknapp{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 300px;
    text-decoration: none;
}


/**Denne styrer alle linkene**/
a{
    text-decoration: none;
    color: black;
}

/**Denne styrer listene i headeren**/
header nav ul li{
    list-style: none;
}

/**Hamburger meny**/
.navbar{
    display: none;
}

.responsive{
    display: block;
}


/**Til desktop**/
@media only screen and (max-width: 800px){

    #pynt{
        display: none;
    }
}